<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.title }}: {{ page.title }}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
	</head>

	<body>

		<header class="section">
			<div class="container">
				<h2><span class="site_title">{{ site.title }} / </span>{{ page.title }}</h2>
				<div class="navigation">
					{% for page in site.html_pages %}<a href="{{ page.url }}">{{ page.title }}</a>{% endfor %}
				</div>
			</div>
		</header>

		<div class="content section">
			<div class="container">
